<%- include("header") %>
        </div> 
        <main> 
          <div class="Page">
            <h1><b>Saved Music</b></h1>
          </div>
          <div class="row" style="margin-left: 20%;margin-bottom: 25%;">
            <%for(var i = 0; i < saved.length; i++){%>
          <div class="column2">
             <img src="/img/<%=saved[i].img%>"  style="height:270px;"   ><br><p><b><%=saved[i].title%> - <%=saved[i].content%></b></p>
          <audio id="audio<%=i%>" src="<%=saved[i].video%>" ></audio>
          
          <form action="/delete/<%=saved[i].id1%>" method="post">
            <button class="btn2" type="submit"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </form>
          <button class="btn" id="btn1"  onclick="play<%=i%>()">►</button>
    </div>
    <%}%>
  </div>




  <div class="solid" ></div>
  <div class="footer-basic" style="margin-left: 15%;">
          
    <div class="social"><a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a><a href="https://ru.linkedin.com/"><i class="icon ion-social-linkedin"></i></a><a href="https://twitter.com"><i class="icon ion-social-twitter"></i></a><a href="https://ru-ru.facebook.com/"><i class="icon ion-social-facebook"></i></a></div>
      <ul class="list-inline">
          <li class="list-inline-item"><a href="#">Services</a></li>
          <li class="list-inline-item"><a href="#">About</a></li>
          <li class="list-inline-item"><a href="#">Terms</a></li>
          <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
      </ul>
    <p class="copyright">Shanyraq © 2022</p>

</div>>
  </main>
  <script>
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }
    </script>
        <script src="js/myscript.js" charset="utf-8" ></script>
    <script src="js/theme.js" charset="utf-8" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>

</body>